@model HomePageModel

@{
    ViewBag.Title = "Markéta Vodičková <span class='new-line'>& Filip Vítů</span>";
    
    Layout = "_MainPageLayout";
}

<section class="section section__simple-text">
    <div class="container">
        @Html.Raw(@Model.Article.Text)
    </div>
</section>

<section class="section section__simple-calendar">
    <div class="container">
        <div class="section__simple-calendar__block">
            <div class="section__simple-calendar__block__data">
                <h2 class="section__title section__simple-calendar__block__data__title">Hrajeme</h2>
                @foreach (var item in Model.CalendarList)
                {
                    <div class="section__simple-calendar__block__data__item">
                        <div class="section__simple-calendar__block__data__item__date">
                            @item.DateTime.ToString("dd")
                        </div>
                        <div class="section__simple-calendar__block__data__item__month-year">
                            <div class="section__simple-calendar__block__data__item__month-year__month">@item.DateTime.ToString("MMMM")</div>
                            <div class="section__simple-calendar__block__data__item__month-year__year">@item.DateTime.ToString("yyyy")</div>
                        </div>
                        <div class="section__simple-calendar__block__data__item__city">@item.Place</div>
                    </div>
                }
            </div>
            <div class="section__simple-calendar__block__image">
                <img class="section__simple-calendar__block__image__img" src="~/assets/dist/images/hrajeme2.jpg" alt="Markéta Vodičková a Filip Vítů. Kytara a zpěv. Zlín. Svatby, koncerty, vernisáže.">
            </div>
        </div>
    </div>
</section>

<section class="section section__simple-video">
    <div class="container">
        <div class="section__simple-video__block">
            <h2 class="section__title section__simple-video__block__title">Poslechněte <span class="section__title--new-line">si nás</span></h2>
            <div class="section__simple-video__block__video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/@Model.Video.VideoLink" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

<section class="section section__image-transition">
    <div class="section__image-transition__back-image section__image-transition__back-image--main"></div>
    <div class="container container--custom">
        <div class="section__image-transition__block-image">
            <h2 class="section__title section__image-transition__block-image__title">Líbí se Vám jak hrajeme?</h2>
            <a asp-controller="Contact" asp-action="Index" class="section__image-transition__block-image__link">Kontaktujte <span class="new-line">nás.</span></a>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", () => { new web.MainController(); });
    </script>
}