@model ICollection<CMS.Models.Music.MusicListModel>

@{
    ViewBag.Title = "Výpis songů";
}

<a asp-action="Create" class="btn btn-outline-dark">Add song</a>

<h2>@ViewData["Title"]</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Date</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title)</td>
            <td>@item.VideoId</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                @Html.DisplayText("|")
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
