@model IEnumerable<CMS.Models.Article.ArticleListModel>

@{
    ViewBag.Title = "Výpis textů";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Titulek</th>
        <th>Popis</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Upravit</a> 
                @* @Html.DisplayText("|") *@
                @* <a asp-action="Details" asp-route-id="@item.Id">Detail</a> *@
                @* @Html.DisplayText("|") *@
                @* <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
            </td>
        </tr>
    }
    </tbody>
</table>
