@using System.Text.RegularExpressions
@model IEnumerable<CMS.Models.Calendar.CalendarListModel>

@{
    ViewBag.Title = "Události";
}

@{
    void RemoveHtmlTags(string input)
    {
        if (!string.IsNullOrEmpty(input))
        {
            string output = Regex.Replace(input, "<[^>]*>", String.Empty);
            <span>@output</span> // show input data
        }
    }
}

<a asp-action="Create" class="btn btn-outline-dark">Vytvořit událost</a>

<h2>@ViewData["Title"]</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Datum</th>
        <th>Místo</th>
        <th>Popis</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.DateTime.ToString("dd. MM. yyyy HH:mm")</td>
            <td>@item.Place</td>
            <td>@{RemoveHtmlTags(@item.Description);}</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Upravit</a> 
                @Html.DisplayText("|")
                @* <a asp-action="Details" asp-route-id="@item.Id">Detail</a> *@
                @* @Html.DisplayText("|") *@
                <a asp-action="Delete" asp-route-id="@item.Id">Smazat</a>
            </td>
        </tr>
    }
    </tbody>
</table>