@using System.Text.RegularExpressions
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@Regex.Replace((string) ViewData["Title"], @"<(.|\n)*?>", string.Empty) | Markéta Vodičková & Filip Vítů</title>
    <link rel="stylesheet" href="/assets/dist/css/main.min.css" />
</head>
<body>
<header class="header">
    <partial name="LayoutParts/_Header" />
    <div class="header__content container">
        <div class="header__content__text">
            <h1 class="header__content__text__title header__content__title">@ViewData["Title"]</h1>
            <p class="header__content__text__description">@ViewData["Description"]</p>
        </div>
        <div class="header__content__media">
            <img class="header__content__media__img" src='@ViewData["Image"]' alt='@ViewData["ImageDescription"]' />
        </div>
    </div>
</header>

<div class="content__space"></div>

@RenderBody()

<partial name="LayoutParts/_Footer" />
@await RenderSectionAsync("Scripts", required: false)

<script>
</script>
</body>
</html>